body {
    background-color:#bbffb9
}

.navbar-expand-lg{
    background-color: #77c277;
}

.hv-titulo {
    color: black;
    text-shadow: 2px 2px #74b138;
    font-style: italic;
}

.hv-desc { 
    color: white;
    text-shadow: 1px 1px #74b138;
    font-style: italic;
}

.es-titulo {
    color: white;
    text-shadow: 2px 2px black;
    font-style: italic;
}

.es-desc {
    color: black;
    text-shadow: 1px 1px rgb(77, 156, 206);
    font-style: italic;
}

.eo-titulo {
    color: white;
    text-shadow: 2px 2px black;
    font-style: italic;
}

.eo-desc {
    color: white;
    text-shadow: 2px 2px black;
    font-style: italic;
}

.nav-link{
    color: black;
    font-style: italic;
    font-size: 17px;
}

